services:
  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq/data
    ports:
      - "${RABBITMQ_PORT}:5672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS}
      - RABBITMQ_DEFAULT_VHOST=/
    container_name: rabbitmq
