APP_NAME=go-photo-api-redis
APP_ENV=development

HTTP_HOST=127.0.0.1
HTTP_PORT=3500

DB_NAME=go_photo_app
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=

REDIS_URL=127.0.0.1
REDIS_PASS=
REDIS_DB=0
