APP_NAME=go-grpc-inventory-microservices
APP_ENV=development

HTTP_HOST=127.0.0.1
HTTP_PORT_USER=8081
HTTP_PORT_PRODUCT=8082
HTTP_PORT_ORDER=8083
RABBITMQ_PORT_NOTIFICATION=8084

RPC_PORT_INVENTORY=50021
RPC_PORT_PRODUCT=50022

DB_NAME=inventory
DB_USER=postgres
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=

JWT_SECRET=
JWT_DURATION=15 # jwt duration is in mins
